@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.navbar {
  @apply flex justify-between items-center p-5 text-white;
  background: #021221;
  font-size: 14px;
}

.navbar-item {
  @apply flex space-x-4 items-center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 200;
}

.modal-close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #333;
}