@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.movie-card {
  @apply bg-white flex flex-col;
  margin: 0.5rem;
}

.movie-card h4 {
  @apply font-semibold mb-1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-card p {
  @apply text-sm text-gray-600;
}

.movie-preview {
  margin: 0.3rem;
}
